@model Suggestions.Entities.Models.User;

<h1>Email Verification</h1>

<form asp-action="EmailVerification" method="post" >
    <div>
        <label>E-mailinize gelen şifreyi giriniz</label>
    </div>
    <div>
        <input name="code" class="form-control" />
    </div>
    <div>
        <input  class="form-control btn btn-primary" type="submit" value="Gönder" />
    </div>
    <span asp-validation-for="ConfirmationCode" class="text-danger"></span>

    <!-- Hidden fields to pass the User object -->
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="SurName" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Password" />
    <input type="hidden" asp-for="PasswordConfirmed" />
    <input type="hidden" asp-for="ConfirmationCode" />
</form>
