@model Suggestions.Entities.Dto.UserDto

<h1>Giriş Yapınız</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogIn" method="post">
            <div class="form-group">
                <label asp-for="Email" class="control-label">E Mail</label>
                <input class="form-control" name="Email" type="text" value="ahmetcanmert25@gmail.com" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Şifre</label>
                <input class="form-control" name="Password" type="password" value="1" />
            </div>
            <div class="form-group">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input class="form-control" type="submit" value="Giriş" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>