@model Suggestions.Entities.Dto.UserDtoForUpdate

@{
    ViewData["Title"] = "Güncellenecek Bilgileri Giriniz";
    Layout = "_NavBarLayout";
}

<h1>Güncellenecek Bilgileri Giriniz</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserSettings" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurName" class="control-label"></label>
                <input asp-for="SurName" class="form-control" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmed" class="control-label"></label>
                <input asp-for="PasswordConfirmed" type="password" class="form-control" v />
                <span asp-validation-for="PasswordConfirmed" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
